body {
    background-color: #101e27;
    color: #fff;
}

h1,
h2 {
    font-family: 'Comfortaa', sans-serif;
}

h2 {
    font-size: 2.5rem;
}

h2:not(.heading-sub) {
    display: block;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.15rem;
    font-weight: 300;
}

a {
    color: #39c0ed;
}

form[name='send-email'] {
    width: 50%;
}

input:not([type='submit']),
textarea[id='message'] {
    background-color: #101e27;
    color: #fff;
    border-color: #39c0ed;
}

input:focus:not([type='submit']),
textarea:focus[id='message'] {
    background-color: #1f3a4b;
    color: #fff;
    box-shadow: 0 0 0 .25rem #39ff14;
}

input[type='email']::placeholder {
    color: #39c0ed;
}

.header {
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
}

.btn {
    transition: .75s;
}

.heading-main {
    font-size: 3.5rem;
}

.heading-main strong {
    color: #bc13fe;
}

.main {
    width: 50%;
}

.about-heading {
    border-bottom: solid 3px #bc13fe;
}

.profile-img {
    width: 100%;
    transition-duration: 1s;
    border-radius: 50% 2%;
    box-shadow: 10px 10px #666, 0px 0px #333;
    filter: grayscale(1);
}

.profile-img:hover {
    box-shadow: 30px 30px #39c0ed, -20px -20px #bc13fe;
    filter: grayscale(0);
}

.skills {
    list-style: none;
}

.skill {
    text-align: center;
}

.skill p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.icon {
    height: 100px;
    color: #fff;
}

.portfolio-heading {
    border-bottom: solid 3px #fff01f;
}

.project-card {
    overflow: hidden;
}

.project-card p {
    margin-top: 1rem;
}

.preview {
    width: 100%;
    transition-duration: .5s;
    border-radius: 50%;
    filter: grayscale(1);
}

.preview:hover {
    border-radius: 5%;
    filter: grayscale(0);
}

.contact-heading {
    border-bottom: solid 3px #39ff14;
}

#contact p {
    text-align: center;
}
