/* ======================================== */
/* === Variable Selectors ================= */
/* ======================================== */

body {
    background-color: #101e27;
    color: #fff;
}

h1,
h2 {
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h2:not(.heading-sub) {
    display: block;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

a {
    color: #39c0ed;
}

small {
    font-size: .85rem;
}

i {
    font-style: normal;
    color: #bc13fe;
}

input:not([type='submit']),
textarea[id='message'] {
    background-color: #101e27;
    color: #fff;
    border-color: #39c0ed;
}

input:focus:not([type='submit']),
textarea:focus[id='message'] {
    background-color: #1f3a4b;
    color: #fff;
    box-shadow: 0 0 0 .25rem #bc13fe;
}

input[type='email']::placeholder {
    color: #39c0ed;
}

footer {
    margin-top: 50px;
    padding: 10px 0;
    background-color: #1f3a4b;
    text-align: center;
}

/* ======================================== */
/* === Class Selectors ==================== */
/* ======================================== */

.header {
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
}

.btn {
    transition: .75s;
}

.heading-main strong {
    color: #bc13fe;
}

.row:not(.project-cards) {
    --bs-gutter-x: 0;
}

/* === About === */

.about-heading {
    border-bottom: solid 3px #bc13fe;
}

.profile-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.skills {
    list-style: none;
}

.skill {
    text-align: center;
}

.skill p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.icon {
    height: 100px;
    color: #fff;
}

/* === Portfolio === */

.portfolio-heading {
    border-bottom: solid 3px #bc13fe;
}

.project-card {
    text-align: center;
}

.project-card p {
    margin-top: 1rem;
}

.preview {
    width: 75%;
    transition-duration: .5s;
    border-radius: 50%;
}

/* === Contact === */

.contact-heading {
    border-bottom: solid 3px #bc13fe;
}

.link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}

.footer-icon {
    height: 50px;
    transition-duration: .5s;
    color: #fff;
}

.footer-icon:hover {
    color: #39c0ed;
}

/* ======================================== */
/* === ID Selectors ======================= */
/* ======================================== */

#contact p {
    text-align: center;
}

/* ======================================== */
/* === Media Queries ====================== */
/* ======================================== */

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.15rem;
    }

    form[name='send-email'] {
        width: 50%;
    }

    .profile-img {
        width: 100%;
        margin-bottom: 0;
        transition-duration: 1s;
        border-radius: 50% 2%;
        box-shadow: 10px 10px #666, 0px 0px #333;
        filter: grayscale(1);
    }

    .profile-img:hover {
        box-shadow: 30px 30px #39c0ed, -20px -20px #bc13fe;
        filter: grayscale(0);
    }

    .preview {
        width: 100%;
        filter: grayscale(1);
    }

    .preview:hover {
        border-radius: 5%;
        filter: grayscale(0);
    }
}

@media screen and (min-width: 992px) {
    .main {
        width: 50%;
        min-width: 900px;
    }
}
